<table class="table table-dark table-hover" data-pagination="true" data-search="true" data-toggle="table">
  <thead>
    <tr>
      <th data-sortable="true" data-field="name">Product Name</th>
      <th data-sortable="true" data-field="description">Description</th>
      <th data-sortable="true" data-field="lowest_allowable_bid">Lowest Allowable Bid</th>
      <th data-sortable="true" data-field="starting_price">Starting Bid Price</th>
      <th data-sortable="true" data-field="bidding_expiration_date">Bidding Expiration</th>
      <th data-sortable="true" data-field="current_lowest_bid">Current Lowest Bid</th>
      <th data-sortable="true" data-field="bidders">Bidders</th>
      <th data-sortable="true" data-field="first_name">Auctioned by</th>
      <th data-sortable="true" data-field="status">Status</th>
      <th data-sortable="true" data-field="date_published">Date auctioned</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @auctions.each do |a| %>
      <tr>
        <td><%= a.auction_entries.first.product.name %></td>
        <td><%= truncate(a.auction_entries.first.product.description, length: 17) %></td>
        <td><%= a.auction_entries.first.lowest_allowable_bid %></td>
        <td><%= a.auction_entries.first.starting_price %></td>
        <td><%= a.bidding_expiration_date %></td>
        <td><%= a.auction_entries.first.current_lowest_bid %></td>
        <% if a.auction_entries.first.bids.count > 0 %>
          <% a.auction_entriest.first.bids.each do  |b|%>
            <td><%= b.user.first_name %></td>
          <% end %>
        <% else %>
          <td>0 Bidders</td>
        <% end %>
        <td><%= a.status %></td>
        <td><%= a.user.first_name %></td>
        <td><%= a.created_at %></td>
        <td><%= link_to 'Show', a %>
            <%= link_to ' | &#10005 Stop Bidding'.html_safe,
            stop_auction_path(a), method: :patch,
            class: "btn.btn-default.btn-xs",
            data: { confirm: 'Manually stop this auction?' } %>
       </td>
      </tr>
    <% end %>
  </tbody>
</table>
