<%= bootstrap_form_with(model: @article, local: true) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(article.errors.count, "error") %> found. Please check the following:</h2>
      <ul>
        <% @article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.datetime_select :bidding_expiration %>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.select :status, options_for_select(Auction.status_options) %>
  </div>

  <%= form.fields_for :auction_entries do |g| %>
    <%= g.label :lowest_allowable_bid %>
    <%= g.number_field :lowest_allowable_bid %>
    <%= g.label :starting_price %>
    <%= g.number_field :starting_price %>
    <%= g.label :expiration_date %>
    <%= g.datetime_select :expiration_date %>
  <% end %>

  <%= f.submit "Create Auction" %>

<% end %>
