<%= bootstrap_form_for(@auction) do |f| %>
  <% if @auction.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(article.errors.count, "error") %> found. Please check the following:</h2>
      <ul>
        <% @auction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.datetime_select :bidding_expiration %>
  <div class="field">
    <%= f.select :status, options_for_select(Auction.status_options[0..1]) %>
  </div>

  <%= f.fields_for :auction_entries do |a| %>
    <%= a.fields_for :product do |b| %>
      <%= b.text_field :name %>
      <%= b.text_area :description %>
    <% end %>
    <%= a.number_field :lowest_allowable_bid %>
    <%= a.number_field :starting_price %>
  <% end %>

  <%= f.submit "Create Auction" %>

<% end %>
