<%= bootstrap_form_for(@auction) do |f| %>
  <% if @auction.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(auction.errors.count, "error") %> found. Please check the following:</h2>
      <ul>
        <% @auction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.datetime_select :bidding_expiration_date %>
  <div class="field">
    <%= f.select :status, options_for_select(Auction.status_options[0..1]),
      label: "Status (Ongoing - Open for bidding, Pending - Hidden from bidders)"%>
  </div>

  <%= f.fields_for :auction_entries do |a| %>
    <%= a.fields_for :product do |b| %>
      <%= b.text_field :name, label: "Product Name" %>
      <%= b.text_area :description, label: "Product Description"  %>
    <% end %>
    <%= a.number_field :lowest_allowable_bid, label: "Lowest Allowable Bid"%>
    <%= a.number_field :starting_price, label: "Starting Price"%>
  <% end %>

  <%= f.submit "Create Auction" %>

<% end %>
